// .icon-status-sprite,
// .tip-status,
// .tip-status--error,
// .tip-status--large,
// .tip-status--large--error,
// .tip-status--large--opinfo,
// .tip-status--large--success,
// .tip-status--middle,
// .tip-status--middle--error,
// .tip-status--middle--opinfo,
// .tip-status--middle--success,
// .tip-status--opinfo,
// .tip-status--success {
//     background-image: url(https://s3plus.meituan.net/static-prod01/com.sankuai.fe.www.sso/assets/icons.c1b3784.png);
//     background-repeat: no-repeat;
// }

.sp-normal {
    background-image: url(~assets/images/sp-normal.png);
}

input {
    outline: none;
}

.fadeIn{
    visibility:visible;
    opacity:1;
    transition:all 0.2s;
}
.fadeOut{
    visibility:hidden;
    opacity:0;
    transition:all 0.2s;
}